doctype html 
html
    head 
        title AAA Dance Academy
        block style 
    body 
        nav.navigation
            div#logo
                img(src="../static/images/bg1.png", alt="AAA")
            div#nav
                ul 
                    li
                        a(href="/") Home 
                    li
                        a(href="/about") About Us 
                    li
                        a(href="/contact") Contact
                    li
                        a(href="/timings") Class Timings
                    li
                        a(href="/aluminai") Alumni
        block content
        footer#footer 
            h2 AAA Dance Acadamy | © All Rights Rerserved
        block script