<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Poppins&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>PLAZZO</title>
</head>

<body>
    <!-- Navigation Section -->

    <div class="navigation font">
        <div class="left-nav">
            <div id="menu">
                <div class="menu-lines"></div>
                <div class="menu-lines"></div>
                <div class="menu-lines"></div>
            </div>
            <div id="menuBox">
                <span>
                    <h1>MENU</h1>
                    <div id="close">Close</div>
                </span>
                <div class="nav-items"><a href="#">COLLECTIONS</a></div>
                <div id="innerDiv">
                    <div class="nav-items"><a href="#">PRE-SPRING</a></div>
                    <div class="nav-items"><a href="#">FALL</a></div>
                    <div class="nav-items"><a href="#">EXCLUSIVE C&K</a></div>
                    <div class="nav-items"><a href="#">CASUAL</a></div>
                </div>
                <div class="nav-items"><a href="#">ABOUT</a></div>
                <div class="nav-items"><a href="#">FAQ</a></div>
                <div class="nav-items"><a href="#">CONTACT</a></div>
                <div id="callToOrder">
                    <button>CALL TO ORDER</button>
                    <p>Click the button to call us. Please read our Shipping & Returns terms before placing an order.
                    </p>
                </div>
            </div>
            <div class="line"></div>
            <div class="nav-items"><a href="#" id="palazzo">PALAZZO</a></div>
            <div class="nav-items"><a href="#">COLLECTIONS</a></div>
            <div class="nav-items"><a href="#">ABOUT</a></div>
        </div>
        <div class="right-nav">
            <div class="nav-items"><a href="#">To Order, Call +91 124590009</a></div>
            <div class="nav-items"><a href="#">CONTACT</a></div>
            <div class="fb"><a href="https://www.facebook.com/" target="nooperner"><img src="../static/images/facebook.png"
                        alt="fb"></a></div>
        </div>
    </div>

    <div class="color"></div>

    <!-- Welcome Section -->
    <div class="container">
        <div class="welcome">
            <div class="para">
                <div class="wel font">
                    <div class="line"></div>
                    <h4>WELCOME</h4>
                </div>
                <h1>DIFFERENT IS BEAUTIFUL</h1>
                <p class="font">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem illum, doloribus
                    perspiciatis
                    autem,
                    incidunt reiciendis voluptatem esse rem natus suscipit aliquid sed eum consequuntur a iure eaque
                    mollitia quod beatae enim doloremque, explicabo aperiam modi totam.</p>
            </div>
            <div class="explore font">
                <p>Explore Collections</p>
                <div class="btn"><a href="#">Click Here</a></div>
            </div>
        </div>
        <div class="back-img"></div>
    </div>

    <!-- Services Section -->
    <div class="services">
        <div id="collection">
            <div class="back-img"></div>
            <div class="description">
                <div class="head">
                    <h1 class="heading">01</h1>
                    <div class="header">
                        <a href="#" class="button">Click Here</a>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="explain">
                    <h1 class="heading">PRE SPRING COLLECTION</h1>
                    <div class="paragraph font">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas
                        eligendi distinctio, voluptatum aliquam ullam ipsam rerum sed numquam tenetur, mollitia, culpa
                        porro nemo. Voluptatem tenetur harum doloribus incidunt deleniti similique!</div>
                </div>
            </div>
        </div>
        <div id="exclusive">
            <div class="description1">
                <div class="head1">
                    <h1 class="heading1">02</h1>
                    <div class="header1">
                        <div class="line"></div>
                        <a href="#" class="button">Click Here</a>
                    </div>
                </div>
                <div class="explain1">
                    <h1 class="heading1">PALAZZO EXCLUSIVES</h1>
                    <div class="paragraph1 font">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas
                        eligendi distinctio, voluptatum aliquam ullam ipsam rerum sed numquam tenetur, mollitia, culpa
                        porro nemo. Voluptatem tenetur harum doloribus incidunt deleniti similique!</div>
                </div>
            </div>
            <div class="back-img"></div>
        </div>
        <div id="casual">
            <div class="back-img"></div>
            <div class="description">
                <div class="head">
                    <h1 class="heading">03</h1>
                    <div class="header">
                        <a href="#" class="button">Click Here</a>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="explain">
                    <h1 class="heading">CASUAL COLLECTION</h1>
                    <div class="paragraph font">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas
                        eligendi distinctio, voluptatum aliquam ullam ipsam rerum sed numquam tenetur, mollitia, culpa
                        porro nemo. Voluptatem tenetur harum doloribus incidunt deleniti similique!</div>
                </div>
            </div>
        </div>
    </div>

    <!-- About Section -->

    <div class="about">
        <div class="top">
            <div class="abtop wel font">
                <div class="line"></div>
                <h4>ABOUT US</h4>
                <div class="line"></div>
            </div>
            <div class="explain">
                <h1 class="heading">DON'T STRESS ABOUT THE DRESS</h1>
                <h1 class="heading">BECAUSE I'LL DRESS YOU TO IMPRESS</h1>
                <div class="paragraph font">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat corporis
                    saepe quam magni, ab earum illo maiores magnam consequatur voluptatum alias a explicabo. Animi,
                    facere aspernatur eligendi sed et odit accusantium dignissimos quibusdam minima obcaecati vel,
                    repellendus ab? Perspiciatis, assumenda! Libero dolores sunt recusandae nobis suscipit a, porro odio
                    praesentium.</div>
            </div>
        </div>
        <div class="center"><img src="../static/images/back6.jpg" alt=""></div>
        <div class="container">
            <div class="welcome">
                <div class="para">
                    <div class="wel font">
                        <div class="line"></div>
                        <h4>ABOUT ATELIER</h4>
                    </div>
                    <p class="font">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem illum, doloribus
                        perspiciatis
                        autem,
                        incidunt reiciendis voluptatem esse rem natus suscipit aliquid sed eum consequuntur a iure eaque
                        mollitia quod beatae enim doloremque, explicabo aperiam modi totam.</p>
                    <p class="font">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem illum, doloribus
                        perspiciatis
                        autem,
                        incidunt reiciendis voluptatem esse rem natus suscipit aliquid sed eum consequuntur a iure eaque
                        mollitia quod beatae enim doloremque, explicabo aperiam modi totam.</p>
                </div>
                <div class="explore font">
                    <p>CONTACT ME</p>
                    <div class="btn"><a href="#">Click Here</a></div>
                </div>
            </div>
            <div class="back-img"></div>
        </div>


        <!-- Contact Section -->

        <div class="contact">
            <div class="top">
                <div class="abtop wel font">
                    <div class="line"></div>
                    <h4>CONATCT US</h4>
                    <div class="line"></div>
                </div>
                <div class="explain">
                    <h1 class="heading">HOW CAN WE HELP YOU?</h1>
                    <div class="paragraph font">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat
                        corporis
                        saepe quam magni, ab earum illo maiores magnam consequatur voluptatum alias a explicabo. Animi,
                        facere aspernatur eligendi sed et odit accusantium dignissimos quibusdam minima obcaecati vel,
                        repellendus ab? Perspiciatis, assumenda! Libero dolores sunt recusandae nobis suscipit a, porro
                        odio
                        praesentium.</div>
                </div>
            </div>
            <form action="contact" method="post">
                <div class="row1">
                    <input type="text" placeholder="FIRST NAME" class="detailsLayout font" id="firstName" name="firstName">
                    <input type="text" placeholder="LAST NAME" class="detailsLayout font" id="lastName" name="lastName">
                </div>
                <div class="row2">
                    <input type="email" placeholder="EMAIL ADDRESS" class="detailsLayout font" id="email" name="email">
                    <input type="number" placeholder="PHONE NUMBER" class="detailsLayout font" id="number" name="number">
                </div>
                <div class="row3">
                    <input type="text" placeholder="SUBJECT" class="detailsLayout font" id="subject" name="subject">
                </div>
                <div class="row4">
                    <textarea id="text" cols="30" rows="10" placeholder="MESSAGE" class="detailsLayout font" name="text"></textarea>
                </div>
                <div class="row5">
                    <input type="checkbox" id="checkbox" name="checkbox" checked>
                    <label for="checkbox">Sign me up for the mailing list</label>
                    <input type="submit" value="SEND MESSAGE" id="submit" class="font">
                </div>
                <div class="policy font">
                    Your personal information is safe with us under our <span><a href="#">Privacy Policy.</a></span>We
                        ocasionally send news and updates related to our services and offerings and you can unsubscribe
                        anytime.
                </div>
            </form>
        </div>

        <!-- Footer Section -->

        <footer class="foot">
            <div class="footTop font">
                <div class="div1">
                    <h1>PALAZZO</h1>
                    <div>
                        <p>Anurup Web Design Inc.</p>
                        <p>MSB:480000788995</p>
                    </div>
                    <div>
                        <p>1811 N South Third Street</p>
                        <p>Yelhanka</p>
                        <p>BENGALURU,560064</p>
                    </div>
                </div>
                <div class="div2">
                    <h5>DISCOVER</h5>
                    <ul>
                        <li class="btn"><a href="#">COLLECTIONS</a></li>
                        <li class="btn"><a href="#">ABOUT</a></li>
                        <li class="btn"><a href="#">FAQ</a></li>
                        <li class="btn"><a href="#">CONTACT</a></li>
                        <li class="btn"><a href="#">CALL TO ORDER</a></li>
                    </ul>
                </div>
                <div class="div3">
                    <h5>COLLECTONS</h5>
                    <ul>
                        <li class="btn"><a href="#">PRE SPRING</a></li>
                        <li class="btn"><a href="#">C&K EXCLUSIVES</a></li>
                        <li class="btn"><a href="#">CASUAL</a></li>
                        <li class="btn"><a href="#">FALL</a></li>
                    </ul>
                </div>
                <div class="div4">
                    <h5>SOCIAL</h5>
                    <ul>
                        <li class="btn"><a href="#">FACEBOOOK</a></li>
                        <li class="btn"><a href="#">TWITTER</a></li>
                        <li class="btn"><a href="#">INSTAGRAM</a></li>
                        <li class="btn"><a href="#">LINKEDIN</a></li>
                    </ul>
                </div>
            </div>
            <div class="footBottom font">
                <div class="line" id="line1"></div>
                <div id="method">
                    <span>Payment Methods:</span>
                    <div class="img"><img src="../static/images/visa.png" alt="vis"></div>
                    <div class="img"><img src="../static/images/gpaylogo.png" alt="gpay"></div>
                    <div class="img"><img src="../static/images/paypallogo.png" alt="pp"></div>
                    <div class="img"><img src="../static/images/stripe.png" alt="strip"></div>
                    <div class="img"><img src="../static/images/apple-pay.png" alt="apl"></div>
                    <div class="img"><img src="../static/images/logo.png" alt="amz"></div>
                </div>
                <div id="licence">
                    <ul>
                        <li><a href="#">Style Guide</a></li>
                        <li><a href="#">Image Licenses</a></li>
                    </ul>
                </div>
                <div class="line" id="line2"></div>
                <div id="copyr"><span>@Copyright 2023.Crafted with Love in India</span></div>
                <div id="power"><span>Powered by Visual Studio</span></div>
            </div>
        </footer>
        <script src="../static/index.js"></script>
</body>

</html>